<%- include('header') %>
<%- include('navbar') %>
<body >
  <div class="jumbotron" id="jmbtrn" style="margin-bottom:0px; margin-bottom: 0px; display: flex; justify-content: center;  flex-direction: column;" >
  <h1 class="display-4">This website is created with express, node js on the backend.</h1>
  <br>
  <h1 class="display-4">EJS is used for the front-end, database is mongodb.</h1>
  <br>
  <h1 class="display-4">Your url is encoded with base64, using a counter no. which is unique for every different url. </h1>
  <br>
  <h1 class="display-4">When you return to us with the unique code, we redirect you to the original url. </h1>
</div>
</body>

<%- include('footer') %>