<%- include('header') %>
<%- include('navbar') %>
<body >
  <div class="jumbotron" id="jmbtrn" style="margin-bottom:0px; margin-bottom: 0px; display: flex; justify-content: center;  flex-direction: column;" >
  <h1 class="display-4">This website is created with express, node js on the backend.</h1>
  <br>
  <h1 class="display-4">EJS is used for the front-end, database is mongodb.</h1>
  <br>
  <h1 class="display-4">Your url is encoded with base64, using a counter no. which is unique for every different url. </h1>
  <br>
  <h1 class="display-4">When you return to us with the unique code, we redirect you to the original url. </h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

<%- include('footer') %>