<%- include('header') %>
<%- include('navbar') %>
<body>
  <div class="jumbotron " id="jmbtrn" style="margin-bottom: 0px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1 class="display-4 ">Error.</h1>
  </div>
</body>

<%- include('footer') %>