
<div class="footer-basic" id="footer">
  <footer>
      <div class="social"><a href="https://www.instagram.com/__yashdeep_yadav__/"><i class="icon ion-social-instagram"></i></a><a href="https://twitter.com/ydy343"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/yashu.deepyadav/"><i class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="/home">Home</a></li>
          <li class="list-inline-item"><a href="/allurls">Database</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
      </ul>
      <p class="copyright">GoToUrl © 2022</p>
  </footer>
</div>

</html>